*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/iosApp/iosApp.xcworkspace/xcuserdata/vikas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
